.SplitPane :global(.Resizer) {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.SplitPane :global(.Resizer):hover {
  transition: all .5s ease;
}

.SplitPane :global(.Resizer):global(.horizontal) {
  height: 12px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.SplitPane :global(.Resizer):global(.horizontal):hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.SplitPane :global(.Resizer):global(.vertical) {
  width: 12px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.SplitPane :global(.Resizer):global(.vertical):hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.SplitPane :global(.Resizer):global(.disabled) {
  cursor: not-allowed;
}
.SplitPane :global(.Resizer):global(.disabled):hover {
  border-color: transparent;
}
