html, body, section {
  height: 100%;
  width: 100%;
  margin: 0;
}

.vside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
}

.left-half {
  flex: 0.5;
}

.right-half {
  flex: 1.5;
}

#code {
  height: 100%;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  resize: none;
}
